[Desktop Entry]
Name=Image Viewer
Name[af]=Beeldbekyker
Name[ar]=عارض الصور
Name[bg]=Изобразител
Name[bn]=ছবি প্রদর্শক
Name[bn_IN]=ইমেজ প্রদর্শক
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[es]=Visor de imágenes
Name[es_VE]=Visor de imágenes
Name[et]=Pildivaatur
Name[eu]=Irudi ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvankatselin
Name[fr]=Visionneur d'images
Name[frp]=Afichór d'imajes
Name[gl]=Visor de imaxes
Name[he]=מציג התמונות
Name[hr]=Preglednik Slika
Name[hu]=Képmegjelenítő
Name[id]=Penampil Citra
Name[it]=Visualizzatore di immagini
Name[ja]=イメージビューワ
Name[ko]=그림 보기
Name[lt]=Paveikslėlių peržiūros programa
Name[ms]=Pemapar Imej
Name[nb]=Bildevisning
Name[nl]=Afbeeldingkijker
Name[nn]=Biletvisar
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ru]=Просмотр изображений
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sr]=Прегледач слика
Name[sv]=Bildvisare
Name[th]=ตัวดูภาพ
Name[tr]=Resim Görüntüleyici
Name[uk]=Переглядач зображень GPicview
Name[ur]=تصاویر منظرکار
Name[ur_PK]=تصاویر منظرکار
Name[vi]=Ứng dụng xem ảnh
Name[zh_CN]=图像查看器
Name[zh_TW]=圖片檢視器
GenericName=Image Viewer
GenericName[af]=Beeldbekyker
GenericName[ar]=عارض الصور
GenericName[bg]=Изобразител
GenericName[bn]=ছবি প্রদর্শক
GenericName[bn_IN]=ইমেজ প্রদর্শক
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολή εικόνων
GenericName[es]=Visor de imágenes
GenericName[es_VE]=Visor de imágenes
GenericName[et]=Pildivaatur
GenericName[eu]=Irudi ikustailea
GenericName[fa]=نمایشگر تصویر
GenericName[fi]=Kuvankatselin
GenericName[fr]=Visionneur d'images
GenericName[frp]=Afichór d'imajes
GenericName[gl]=Visor de imaxes
GenericName[he]=מציג התמונות
GenericName[hr]=Preglednik Slika
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penampil Citra
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=イメージビューワ
GenericName[ko]=그림 보기
GenericName[lt]=Paveikslėlių peržiūros programa
GenericName[ms]=Pemapar Imej
GenericName[nb]=Bildevisning
GenericName[nl]=Afbeeldingkijker
GenericName[nn]=Biletvisar
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледач слика
GenericName[sv]=Bildvisare
GenericName[th]=ตัวดูภาพ
GenericName[tr]=Resim Görüntüleyici
GenericName[uk]=Переглядач зображень GPicview
GenericName[ur]=تصاویر منظرکار
GenericName[ur_PK]=تصاویر منظرکار
GenericName[vi]=Ứng dụng xem ảnh
GenericName[zh_CN]=图像查看器
GenericName[zh_TW]=圖片檢視器Comment[af]=Bekyk en roteer beelde
Comment[am]=ምስሎችን መቃኛ እና ማዞሪያ
Comment[ar]=تصفح و أدر الصور
Comment[as]=ছবি ব্ৰাউজ কৰক আৰু ঘুৰায় লওক
Comment[ast]=Restola y voltia imáxenes
Comment[be]=Дазваляе аглядаць і паварочваць выявы
Comment[bg]=Преглед и завъртане на изображения
Comment[bn]=ছবি ব্রাউজ করুন এবং চক্রাকারে ঘোরান
Comment[bn_IN]=ছবি ব্রাউজ করুন ও ঘুরিয়ে নিন
Comment[br]=Merdeiñ ha c'hwelañ ar skeudennoù
Comment[ca]=Navegueu per les imatges i gireu-les
Comment[ca@valencia]=Navegueu per imatges i gireu-les
Comment[cmn]=瀏覽及更改圖片的方向
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotere billeder
Comment[de]=Bilder betrachten und drehen
Comment[dz]=གཟུགས་བརྙན་ཚུ་ བརྡ་འཚོལ་འབད་དེ་བསྒྱིར་
Comment[el]=Περιήγηση και περιστροφή φωτογραφίας
Comment[en_AU]=Browse and rotate images
Comment[en_CA]=Browse and rotate images
Comment[en_GB]=Browse and rotate images
Comment[eo]=Foliumi kaj rotacii bildojn
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et faire pivoter les images
Comment[fur]=Sgarfe e zire figuris
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gl]=Ver e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפייה וסיבוב של תמונות
Comment[hi]=ब्रॉउज करें और घुमाएँ छवियाँ
Comment[hr]=Pregledaj i rotiraj slike
Comment[hu]=Képek böngészése és forgatása
Comment[hy]=Զննել և պտտել պատկերներ
Comment[id]=Meramban dan memutar citra
Comment[ie]=Navigar e rotar images
Comment[is]=Skoða og snúa myndum
Comment[it]=Esplora e ruota le immagini
Comment[ja]=いろいろな画像を閲覧します
Comment[kk]=Суреттерді шолу мен айналдыру
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ವೀಕ್ಷಿಸು ಹಾಗು ತಿರುಗಿಸು
Comment[ko]=그림 살펴보기 및 돌리기
Comment[ks]=छांड त गुमाव फोटो
Comment[ky]=Сүрөттөрдү көрүү жана айлантуу
Comment[lt]=Naršyti ir pasukti atvaizdus
Comment[lv]=Pārlūkot un grozīt attēlus
Comment[mk]=Разгледај и ротирај слики
Comment[ml]=ചിത്രങ്ങള്‍ കാണുകയും തിരിക്കുകയും ചെയ്യുക
Comment[mr]=प्रतिमाचे संचार व गोल फिरवा
Comment[ms]=Lungsur dan putar imej
Comment[nb]=Bla gjennom og roter bilder
Comment[nds]=Billers ankieken un dreihn
Comment[ne]=छविहरू ब्राउज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Afbeeldingen verkennen en kantelen
Comment[nn]=Bla gjennom og roter bilete
Comment[oc]=Percórrer e pivotar los imatges
Comment[or]=ପ୍ରତିଛବିକୁ ବ୍ରାଉଜ କରନ୍ତୁ ଏବଂ ଘୁରାନ୍ତୁ
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[ps]=انځورونه لټول او چورلول
Comment[pt]=Explorar e rodar imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navigare și rotire imagini
Comment[ru]=Просмотр и вращение изображений
Comment[si]=පිළිඹිබු ගවේශනය කිරීම සහ කරකැවීම
Comment[sk]=Prehliadať a otáčať obrázky
Comment[sl]=Prebrskaj in zavrti slike
Comment[sq]=Shfleto dhe rrotullo figurat
Comment[sr]=Прегледајте и окрените слике
Comment[sr@latin]=Pregledaj i izvrni slike
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[te]=ప్రతిబింబములన్ని అన్వేషణ మరియు పరిభ్రమణం చేయు
Comment[th]=เรียกดูและหมุนรูป
Comment[tr]=Resimleri tara ve çevir
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[vi]=Duyệt và xoay ảnh
Comment[zh_CN]=浏览及旋转图像
Comment[zh_HK]=瀏覽及更改圖片的方向
Comment[zh_TW]=瀏覽及更改圖片的方向
Comment=Browse and rotate images
TryExec=eom
Exec=eom %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=gpicview
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Core;GTK;Viewer;RasterGraphics;2DGraphics;Photography;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=imatge;visualitzador;JPEG;PNG;TIFF;SVG;MATE;fotos;explorar;miniatures;girar;
Keywords[cs]=obrázek;obrázky;obrázků;prohlížeč;JPEG;PNG;TIFF;SVG;MATE;fotografie;procházet;procházení;prohlížet;prohlížení;miniatury;otáčet;otočení;natočení;
Keywords[da]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;billede;fremviser;foto;gennemse;roter;
Keywords[en_GB]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;
Keywords[es]=imagen;visor;JPEG;PNG;TIFF;SVG;MATE;fotos;examinar;miniaturas;girar;
Keywords[fr]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;
Keywords[gl]=imaxe;visor;JPEG;PNG;TIFF;SVG;MATE;fotos;examinar;miniaturas;rotar;
Keywords[hu]=kép;megjelenítő;JPEG;PNG;TIFF;SVG;MATE;fényképek;tallózás;bélyegkép;forgatás;
Keywords[id]=citra;gambar;penampil;penilik;JPEG;PNG;TIFF;SVG;MATE;foto;ramban;gambar mini;rotasi;
Keywords[ie]=image;visor;JPEG;PNG;TIFF;SVG;MATE;fotos;navigar;miniaturas;rotar;
Keywords[it]=immagine;visualizzatore;JPEG;PNG;TIFF;SVG;MATE;foto;sfoglia;anteprima;ruota;
Keywords[ja]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;
Keywords[ko]=image;이미지;그림;viewer;보기;뷰어;JPEG;PNG;TIFF;SVG;MATE;MATE;photos;사진;browse;탐색;찾아보기;thumbnails;미리보기;섬네일;썸네일;rotate;회전;
Keywords[lt]=paveiklsų;paveiksliukų;žiūryklė;JPEG;PNG;TIFF;SVG;MATE;nuotraukos;nuotraukų;naršyti;miniatiūros;pasukti;
Keywords[ms]=Imej;pelihat;JPEG;PNG;TIFF;SVG;MATE;foto;layar;lakaran kenit;putar;
Keywords[nb]=bilde;vise;JPEG;PNG;TIFF;SVG;MATE;foto;utforske;miniatyrbilder;rotere;
Keywords[nl]=afbeelding;kijker;JPEG;PNG;TIFF;SVG;MATE;foto's;verkennen;miniaturen;draaien;
Keywords[oc]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;thumbnails;rotate;imatge;foto;fòto;
Keywords[pl]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;
Keywords[pt]=imagem;visualizador;JPEG;PNG;TIFF;SVG;MATE;fotos;navegar;miniaturas;rodar;
Keywords[ru]=изображение;просмотр;JPEG;PNG;TIFF;SVG;MATE;фото;обозреватель;tпредпросмотр;повернуть;
Keywords[sk]=obrázok;prehliadač;JPEG;PNG;TIFF;SVG;MATE;fotky;fotografie;náhľady;miniatúry;otočiť;otočenie;
Keywords[sr]=слика;прегледач;ЈПЕГ;ПНГ;ТИФФ;СВГ;Мејт;фотографије;разгледај;сличице;заокрени;
Keywords[sv]=bild;visare;JPEG;PNG;TIFF;SVG;MATE;bilder;bläddrare;miniatyrer;rotera;
Keywords[zh_CN]=图像;查看器;JPEG;PNG;TIFF;SVG;MATE;照片;浏览;缩略图;旋转;
Keywords[zh_TW]=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;
Keywords=image;viewer;JPEG;PNG;TIFF;SVG;MATE;photos;browse;thumbnails;rotate;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=EOM
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.26.0
X-MATE-DocPath=eom/index.docbook
MimeType=application/ico;application/x-navi-animation;audio/x-riff;image/bmp;image/gif;image/ico;image/icon;image/jp2;image/jpeg;image/jpeg2000;image/jpg;image/jpx;image/pjpeg;image/png;image/qtif;image/svg;image/svg+xml;image/svg+xml-compressed;image/svg-xml;image/tiff;image/vnd.adobe.svg+xml;image/vnd.microsoft.icon;image/vnd.wap.wbmp;image/webp;image/x-MS-bmp;image/x-adobe-dng;image/x-bmp;image/x-canon-cr2;image/x-canon-crw;image/x-compressed-xcf;image/x-epson-erf;image/x-fuji-raf;image/x-gray;image/x-icb;image/x-icns;image/x-ico;image/x-icon;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pcx;image/x-pentax-pef;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-quicktime;image/x-sony-arw;image/x-tga;image/x-win-bitmap;image/x-wmf;image/x-xbitmap;image/x-xcf;image/x-xpixmap;text/ico;text/xml-svg;
