[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Greenfoot Java IDE
Comment=A simple Java IDE and animation framework
Categories=Application;Development;
Exec=greenfoot
TryExec=greenfoot
Icon=greenfoot
Terminal=false
Type=Application
