[Desktop Entry]
Type=Application
Version=1.0
Name=Help
Comment=Link to help pages
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser https://rpf.io/raspbian-help
Icon=rpi
Terminal=false
Categories=Help;
