[Desktop Entry]
Name=Python 2 (IDLE)
Comment=Integrated development environment for Python 2
TryExec=/usr/bin/idle
Exec=/usr/bin/idle
Icon=python
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
NoDisplay=true
