[Desktop Entry]
Name=IDLE (using Python-3.5)
Comment=Integrated Development Environment for Python (using Python-3.5)
Exec=/usr/bin/idle-python3.5
Icon=python
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
NoDisplay=true
