[Desktop Entry]
Name=IDLE (using Python-3.2)
Comment=Integrated Development Environment for Python (using Python-3.2)
Exec=/usr/bin/idle-python3.2
Icon=python
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
NoDisplay=true
