[Desktop Entry]
Type=Application
Icon=preferences-desktop-keyboard
Name=Setup Hot Keys
Name[cs]=Nastavit klávesové zkratky
Name[gl]=Configurar teclas de acceso directo
Name[nl]=Sneltoetsen instellen
Name[pt]=Configurar teclas de atalho
Name[ru]=Настроить горячие клавиши
Name[sr]=Подешавања „врућих“ тастера
Name[sr@latin]=Podešavaǌa „vrućih“ tastera
Name[uk]=Налаштувати гарячі клавіші
Comment=View and change Window Manager global shortcuts
Comment[cs]=Zobrazit a změnit celkové klávesové zkratky správce oken
Comment[gl]=Ver e cambiar os atallos de teclado globais do xestor de xanelas
Comment[nl]=Bekijk en verander systeembrede sneltoetsen van de vensterbeheerder
Comment[pt]=Ver e alterar as teclas de atalho globais do gestor de janelas
Comment[ru]=Посмотреть или изменить глобальные привязки клавиш менеджера окон
Comment[sr]=Преглед и измена општих пречица управника прозора
Comment[sr@latin]=Pregled i izmena opštih prečica upravnika prozora
Comment[uk]=Переглянути або змінити глобальні прив'язки клавіш менеджера вікон
Keywords=hotkey;shortcut;system;settings;
Keywords[cs]=zkratka;klávesová zkratka;systém;nastavení;
Keywords[gl]=hotkey;shortcut;system;settings;
Keywords[nl]=sneltoets;snelkoppeling;systeem;instellingen;
Keywords[pt]=teclas;atalhos;sistema;definições
Keywords[ru]=привязка;горячая клавиша;рабочий стол;настройки;
Keywords[sr]=тастер;пречица;систем;поставке;
Keywords[sr@latin]=taster;prečica;sistem;postavke;
Keywords[uk]=прив'язка;гаряча клавіша;стільниця;налаштування;
Categories=DesktopSettings;Settings;Core;GTK;
NotShowIn=GNOME;KDE;XFCE;MATE;
Exec=lxhotkey --gui=gtk
StartupNotify=true
Terminal=false
NoDisplay=true
