[Desktop Entry]
Type=Application
Name=Projects
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser https://rptl.io/tutorials
Icon=rpi
Terminal=false
Categories=Help;
StartupNotify=true
