[Desktop Entry]
Type=Application
Name=Get Started
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser https://rptl.io/get-started
Icon=rpi
Terminal=false
Categories=Help;
StartupNotify=true
