[Desktop Entry]
Type=Application
Version=1.0
Name=Raspberry Pi Help
Comment=Link to help pages
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser http://www.raspberrypi.org/help
Icon=rpi
Terminal=false
Categories=Help;
