[Desktop Entry]
Type=Application
Version=1.0
Name=The MagPi
Comment=Link to downloads of The MagPi magazine
Exec=x-www-browser http://www.raspberrypi.org/magpi
Icon=/usr/share/raspberrypi-artwork/magpi.png
Terminal=false
Categories=Network;
