[Desktop Entry]
Type=Application
Version=1.0
Name=The Magpi
Comment=Link to downloads of The Magpi magazine
Exec=xdg-open http://www.raspberrypi.org/magpi
Icon=/usr/share/raspberrypi-artwork/magpi.png
Terminal=false
Categories=Network;
