
[Desktop Entry]
Name=Pi Store
Comment=Download software for your Raspberry Pi
TryExec=pistore-desktop
Exec=pistore-desktop
Icon=/usr/share/indiecity/pistore/clienticon.xpm
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Network;
StartupNotify=true
MimeType=x-scheme-handler/indiecity;


