[Desktop Entry]
Name=Raspberry Pi Resources
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser http://www.raspberrypi.org/resources/
Icon=/usr/share/raspberrypi-artwork/raspitr.png
Terminal=false
Type=Application
Categories=Application;Network;
StartupNotify=true
