[Desktop Entry]
Version=1.0
Name=WiFi Configuration
Comment=WiFi configuration utility
TryExec=/usr/sbin/wpa_gui
Exec=/usr/sbin/wpa_gui
Icon=wpa_gui
GenericName=wpa_supplicant user interface
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=true
