Source: raspberrypi-ui-mods
Section: x11
Priority: optional
Maintainer: Simon Long <simon@raspberrypi.com>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.3.0

Package: raspberrypi-ui-mods
Architecture: any
Depends: ${misc:Depends}, lxpanel, pcmanfm, openbox, xserver-xorg,
 x11-xserver-utils, policykit-1, lightdm, raspberrypi-sys-mods (>= 20210706),
 zenity, libglib2.0-bin, desktop-file-utils, lxsession, adduser,
 xdg-user-dirs, raspi-config (>= 20220301), wayfire, wf-panel-pi,
 qtwayland5, mate-polkit-bin, xsettingsd, gtk-nop, labwc
Recommends: fonts-piboto (>=1.1), pipanel,
 lxinput, pi-greeter, rpd-plym-splash, rpd-wallpaper, pishutdown, scrot,
 pixflat-theme, gnome-icon-theme, pixflat-icons, lxplug-volumepulse,
 lxplug-network, lxplug-bluetooth, lxplug-ejecter, lxplug-ptbatt,
 rc-gui (>=1.18), lxplug-cputemp, lxplug-magnifier, rp-bookshelf,
 agnostics [armhf arm64], gui-pkinst, cups, system-config-printer,
 pi-printer-support, lxplug-updater, lxplug-netman, lxplug-menu,
 qt5ct, qt5-style-plugins, xwayland, grim, wayvnc, labwc-prompt,
 kanshi, swayidle, wlopm, autotouch
Conflicts: raspberrypi-artwork, rpi-wayland
Replaces: raspberrypi-artwork, rpi-wayland
Description: Config to customise the LXDE UI for the Raspberry Pi
 Customised theme and configuration for LXDE desktop on Raspberry Pi.
