[Desktop Entry]
Name=Xwayland Xauthority
Comment=Create .Xauthority file for Xwayland
Exec=/usr/bin/create_xauth
Terminal=false
Type=Application
NoDisplay=true
OnlyShowIn=LXDE-wayland;
